<!--
<div class="example-header" fxLayout="row">
  <mat-form-field>
    <input matInput (keyup)="applyFilter()" [(ngModel)]="searchText" placeholder="Filter">
  </mat-form-field>
</div>

<br/>
<article style='display: grid'>
  <h1>Github User Search Result:</h1>
<div style='display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1rem;' *ngIf="dataSource">

<div *ngFor="let user of dataSource ">
  <a routerLink="/users/details/{{user.login}}" >{{ user.login }} </a>
  <div >
  <img style="height: 80px" src={{user.avatar_url}} alt="avatar">
  </div>

</div>

</div>
</article> -->


<div class="container" >
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText"  (keydown.enter)="applyFilter()"  autocomplete="off" placeholder="&#61442;  Enter search....">
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <table *ngIf="!isLoading" class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>User</th>
        <th>Detail</th>
        <th>Link</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of dataSource | filter:searchText">
        <td> <img mat-card-image class="img-box" [src]="el.avatar_url" alt="Photo of {{el.login}}"></td>
        <td>{{el.login}}</td>
        <td><a routerLink="/users/details/{{el.login}}" >View Details </a></td>
        <td><a [href]="el.html_url"> <mat-icon  matTooltip="navigate to GitHub account"> info</mat-icon></a></td>
      </tr>
      <div *ngIf="(dataSource | filter:searchText) .length === 0">No records To Show</div>
      </tbody>
    </table>
  </div>
</div>

