<mat-card>
  <mat-card-header>
    <mat-card-title>GIT HUB USER System App</mat-card-title>
    <mat-card-subtitle>Developer: AHANASNprod (A D)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4>Project Details:</h4>
  </mat-card-content>

  <mat-card-content>
    <mat-card>
      <mat-card-subtitle>

        This application gives details on GitHub API public endpoints.
      </mat-card-subtitle>
      <mat-card-subtitle> Primary development is done on User referenced API's.
        Application is developed Using Angular 14 version.
      </mat-card-subtitle>
      <mat-card-subtitle>Node:: 14.15.0</mat-card-subtitle>
      <mat-card-subtitle>NPM: 6.14.8</mat-card-subtitle>
      <mat-card-subtitle>Angular CLI: 14.2.11</mat-card-subtitle>
      <mat-card-subtitle>Deployment: NETLIFY</mat-card-subtitle>
      <mat-card-subtitle>Deployment is done using free dynos from NETLIFY domains, with limited ACU
        time</mat-card-subtitle>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <mat-card>
      <mat-card-subtitle>

        Explore the functionality from triple icon Menu, Thank you.
      </mat-card-subtitle>
      <mat-card-subtitle class="warning">
        Input the search text for filtering the table and Input more than 3 chars Press Enter for API search
      </mat-card-subtitle>
    </mat-card>
    <mat-card-content>

    </mat-card-content>
    <button mat-button> <a href="https://github.com/AHANASNprod">Developer </a></button>
    <button mat-button> <a href="https://github.com/AHANASNprod/GitUserSystem">Repo Link</a></button>
    <button mat-button><a href="https://github.com/AHANASNprod/GitUserSystem">Application Link</a></button>
  </mat-card-actions>
</mat-card>
